/*#25383F
#CB6F4A*/
*{
    padding: 0;
    margin: 0;
       
}
a{
    text-decoration: none;
}
body{
    background-color: #1C2833;
    position: relative;
}
div.heroname{
    width: 100vw;
    height: 500px;
    overflow: hidden;
}
.heroname h1{
    margin-top: 250px;
    text-align: center;
    font-size: 200px;
    font-family: "roadster";
    color:#CB6F4A ;
    font-weight: lighter;
    cursor: pointer;
    letter-spacing: 1px;
}
header{
    height: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: "roadster";
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 50px;
    color: #fff;
    display: inline;
    cursor: pointer;
}
li{
    list-style: none;
    display: inline;
    color:#fff;
    margin: 0 30px;
    cursor: pointer;
}
.sanserif{
    font-family: "lato";
    font-size: 20px;
}
.slabserif{
    font-family: "playfair display";
    font-size: 20px;
}
.serif{
    font-family: "lora";
    font-weight: bolder;
    font-size: 20px;
}
.script{
    font-family: "beauty";
    font-size: 20px;
}
div.container{
    margin-bottom: 100px;
}
div.container h1{
    margin-left: 100px;
    margin-top: 150px;
    font-size: 100px;
    color: #CB6F4A;
    font-family: "Roboto";
    border-bottom: 1px solid #CB6F4A;
    margin-right: 100px;
}
.container .Poppins{
    font-family: "poppins";
}
.container .OpenSans{
    font-family: "open sans";
}
.container .lato{
    font-family: "lato";
}
.container .oswald{
    font-family: "oswald";
}
li:hover{
    border-bottom: 2px solid #FFF;
    transition-delay: .1s;
    transition-duration: .3s;
}
<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="10.889in" height="1.556in">
<path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
 d="M733.091,17.440 L733.091,49.723 L775.937,49.723 L775.937,65.939 L733.091,65.939 L733.091,110.365 L711.629,110.365 L711.629,1.299 L783.857,1.299 L783.857,17.440 L733.091,17.440 ZM661.339,1.299 L682.723,1.299 L682.723,110.365 L661.339,110.365 L661.339,1.299 ZM641.936,110.365 L622.770,110.365 C620.922,110.365 619.351,110.014 618.058,109.309 C616.764,108.606 615.669,107.600 614.772,106.292 L590.696,71.370 C589.797,70.063 588.807,69.133 587.726,68.579 C586.643,68.026 585.045,67.749 582.934,67.749 L573.827,67.749 L573.827,110.365 L552.522,110.365 L552.522,1.299 L587.448,1.299 C595.262,1.299 601.954,2.066 607.525,3.600 C613.095,5.134 617.662,7.284 621.226,10.048 C624.790,12.814 627.404,16.120 629.067,19.967 C630.730,23.814 631.561,28.051 631.561,32.676 C631.561,36.347 630.993,39.817 629.859,43.085 C628.723,46.354 627.087,49.321 624.948,51.985 C622.810,54.651 620.169,56.989 617.029,59.000 C613.887,61.012 610.309,62.620 606.297,63.827 C608.990,65.286 611.313,67.372 613.267,70.088 L641.936,110.365 ZM609.307,41.803 C610.257,39.491 610.732,36.951 610.732,34.185 C610.732,28.654 608.818,24.405 604.991,21.438 C601.162,18.471 595.315,16.988 587.448,16.988 L573.827,16.988 L573.827,53.192 L587.132,53.192 C591.144,53.192 594.642,52.715 597.625,51.759 C600.608,50.804 603.063,49.485 604.991,47.799 C606.917,46.115 608.357,44.116 609.307,41.803 ZM457.962,1.299 L530.190,1.299 L530.190,17.440 L479.424,17.440 L479.424,47.686 L519.419,47.686 L519.419,63.299 L479.424,63.299 L479.424,94.149 L530.190,94.149 L530.190,110.365 L457.962,110.365 L457.962,1.299 ZM393.891,41.124 C396.372,42.331 399.197,43.413 402.365,44.367 C405.533,45.323 408.767,46.341 412.067,47.422 C415.366,48.504 418.601,49.760 421.769,51.193 C424.937,52.626 427.760,54.437 430.243,56.624 C432.724,58.811 434.717,61.489 436.222,64.657 C437.727,67.825 438.479,71.672 438.479,76.197 C438.479,81.126 437.595,85.739 435.826,90.038 C434.057,94.337 431.470,98.084 428.065,101.276 C424.659,104.470 420.502,106.984 415.591,108.819 C410.681,110.654 405.058,111.572 398.722,111.572 C395.079,111.572 391.488,111.233 387.951,110.554 C384.414,109.875 381.022,108.907 377.775,107.650 C374.527,106.393 371.491,104.885 368.667,103.124 C365.842,101.365 363.321,99.404 361.104,97.241 L367.281,87.511 C367.861,86.807 368.560,86.217 369.380,85.739 C370.198,85.261 371.108,85.022 372.112,85.022 C373.431,85.022 374.857,85.538 376.389,86.568 C377.919,87.599 379.727,88.744 381.814,90.000 C383.899,91.258 386.354,92.402 389.179,93.432 C392.003,94.463 395.396,94.978 399.356,94.978 C405.427,94.978 410.127,93.609 413.453,90.867 C416.779,88.127 418.442,84.192 418.442,79.063 C418.442,76.197 417.690,73.859 416.185,72.049 C414.681,70.238 412.687,68.718 410.206,67.485 C407.724,66.254 404.900,65.211 401.732,64.355 C398.564,63.501 395.343,62.571 392.070,61.564 C388.795,60.559 385.576,59.352 382.408,57.944 C379.240,56.537 376.415,54.701 373.934,52.438 C371.451,50.175 369.459,47.347 367.954,43.952 C366.449,40.558 365.697,36.372 365.697,31.394 C365.697,27.422 366.529,23.550 368.192,19.778 C369.855,16.007 372.283,12.664 375.478,9.747 C378.672,6.831 382.592,4.493 387.239,2.732 C391.884,0.973 397.190,0.092 403.157,0.092 C409.915,0.092 416.146,1.099 421.848,3.109 C427.550,5.121 432.407,7.937 436.420,11.557 L431.193,21.136 C430.612,22.243 429.938,23.022 429.174,23.474 C428.408,23.927 427.497,24.153 426.441,24.153 C425.385,24.153 424.197,23.764 422.877,22.984 C421.557,22.205 419.999,21.338 418.205,20.382 C416.409,19.427 414.311,18.560 411.909,17.780 C409.505,17.001 406.668,16.611 403.395,16.611 C400.437,16.611 397.863,16.950 395.673,17.629 C393.482,18.308 391.634,19.250 390.129,20.457 C388.625,21.664 387.502,23.110 386.763,24.794 C386.023,26.480 385.655,28.328 385.655,30.338 C385.655,32.903 386.407,35.040 387.912,36.749 C389.417,38.459 391.409,39.917 393.891,41.124 ZM294.579,109.611 C293.471,109.109 292.388,108.204 291.332,106.896 L231.459,34.260 C231.617,35.870 231.736,37.466 231.815,39.050 C231.895,40.634 231.934,42.080 231.934,43.387 L231.934,110.365 L213.164,110.365 L213.164,1.299 L224.331,1.299 C225.282,1.299 226.074,1.337 226.707,1.412 C227.341,1.488 227.908,1.638 228.410,1.865 C228.911,2.091 229.400,2.419 229.875,2.845 C230.350,3.273 230.877,3.839 231.459,4.542 L291.570,77.479 C291.358,75.720 291.213,73.998 291.134,72.313 C291.055,70.629 291.015,69.058 291.015,67.599 L291.015,1.299 L309.785,1.299 L309.785,110.365 L298.777,110.365 C297.086,110.365 295.688,110.114 294.579,109.611 ZM177.171,109.045 C175.983,108.166 175.124,107.072 174.597,105.764 L166.043,83.513 L118.604,83.513 L110.051,105.764 C109.628,106.921 108.796,107.977 107.556,108.932 C106.315,109.888 104.797,110.365 103.002,110.365 L86.450,110.365 L131.434,1.299 L153.213,1.299 L198.198,110.365 L181.725,110.365 C179.876,110.365 178.359,109.926 177.171,109.045 ZM146.640,32.903 C146.007,31.294 145.306,29.395 144.541,27.208 C143.775,25.021 143.023,22.645 142.284,20.080 C141.544,22.645 140.819,25.034 140.106,27.246 C139.394,29.459 138.693,31.394 138.008,33.053 L124.069,69.183 L160.579,69.183 L146.640,32.903 ZM33.467,41.124 C35.948,42.331 38.773,43.413 41.941,44.367 C45.109,45.323 48.343,46.341 51.643,47.422 C54.942,48.504 58.177,49.760 61.345,51.193 C64.513,52.626 67.336,54.437 69.819,56.624 C72.300,58.811 74.293,61.489 75.798,64.657 C77.303,67.825 78.055,71.672 78.055,76.197 C78.055,81.126 77.171,85.739 75.402,90.038 C73.633,94.337 71.046,98.084 67.641,101.276 C64.235,104.470 60.078,106.984 55.167,108.819 C50.257,110.654 44.634,111.572 38.298,111.572 C34.655,111.572 31.064,111.233 27.527,110.554 C23.990,109.875 20.598,108.907 17.351,107.650 C14.103,106.393 11.067,104.885 8.243,103.124 C5.418,101.365 2.897,99.404 0.680,97.241 L6.857,87.511 C7.437,86.807 8.136,86.217 8.956,85.739 C9.774,85.261 10.684,85.022 11.688,85.022 C13.007,85.022 14.433,85.538 15.965,86.568 C17.495,87.599 19.303,88.744 21.390,90.000 C23.475,91.258 25.930,92.402 28.755,93.432 C31.579,94.463 34.972,94.978 38.932,94.978 C45.003,94.978 49.703,93.609 53.029,90.867 C56.355,88.127 58.018,84.192 58.018,79.063 C58.018,76.197 57.266,73.859 55.761,72.049 C54.257,70.238 52.263,68.718 49.782,67.485 C47.300,66.254 44.476,65.211 41.308,64.355 C38.140,63.501 34.919,62.571 31.646,61.564 C28.371,60.559 25.151,59.352 21.984,57.944 C18.816,56.537 15.991,54.701 13.509,52.438 C11.027,50.175 9.035,47.347 7.530,43.952 C6.025,40.558 5.273,36.372 5.273,31.394 C5.273,27.422 6.105,23.550 7.768,19.778 C9.431,16.007 11.859,12.664 15.054,9.747 C18.248,6.831 22.168,4.493 26.815,2.732 C31.460,0.973 36.766,0.092 42.733,0.092 C49.491,0.092 55.722,1.099 61.424,3.109 C67.126,5.121 71.983,7.937 75.996,11.557 L70.769,21.136 C70.188,22.243 69.514,23.022 68.750,23.474 C67.984,23.927 67.073,24.153 66.017,24.153 C64.961,24.153 63.773,23.764 62.453,22.984 C61.133,22.205 59.575,21.338 57.781,20.382 C55.985,19.427 53.887,18.560 51.485,17.780 C49.081,17.001 46.244,16.611 42.971,16.611 C40.013,16.611 37.439,16.950 35.249,17.629 C33.058,18.308 31.210,19.250 29.705,20.457 C28.201,21.664 27.078,23.110 26.339,24.794 C25.599,26.480 25.231,28.328 25.231,30.338 C25.231,32.903 25.983,35.040 27.488,36.749 C28.993,38.459 30.985,39.917 33.467,41.124 Z"/>
</svg>